  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Glimmer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Robot+Mono">
      <link rel="stylesheet" href="/styles/normalize.css">
      <link rel="stylesheet" href="/styles/basscss.css">
      <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body class="<%= current.source %>">
      <div class="max-width-4 mx-auto p2">
        <%- partial("partials/_header") %>

        <% if (current.path[0] == 'guides') {  %>
          <div class="clearfix">
            <div class="md-col md-col-4">
              <% for (let slug in public.guides._data) { %>
                <li><a href="/guides/<%= slug %>"><%= public.guides._data[slug].title %></a></li>
              <% }; %>
            </div>

            <div class="md-col md-col-8">
              <%- yield %>
            </div>
          </div>
        <% } else { %>
          <%- yield %>
        <% } %>

        <%- partial("partials/_footer") %>
      </div>
    </body>
</html>
