<div class="max-width-4 mx-auto p2">
  <%- partial("partials/_hero") %>
  <%- partial("partials/_performance") %>
  <%- partial("partials/_tools") %>
  <%- partial("partials/_growth") %>
  <%- partial("partials/_footer") %>
</div>
