  <!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Glimmer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto|Robot+Mono">
      <link rel="stylesheet" href="/styles/normalize.css">
      <link rel="stylesheet" href="/styles/basscss.css">
      <link rel="stylesheet" href="/styles/prism.css">
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="shortcut icon" href="/images/favicon.png">
    </head>

    <body class="<%= current.source %>">
      <div class="max-width-4 mx-auto p2">
        <%- partial("partials/_header") %>

        <% if (current.path[0] == 'guides') {  %>
          <div class="clearfix mxn2">
            <div class="md-col md-col-4 px2">
              <%- partial("partials/_sidebar") %>
            </div>

            <div class="md-col md-col-8 px2">
              <%- yield %>
            </div>
          </div>
        <% } else { %>
          <%- yield %>
        <% } %>

        <%- partial("partials/_footer") %>

        <script src="/scripts/prism.js"></script>
        <script>Prism.languages.hbs = Prism.languages.extend('handlebars');</script>
      </div>
    </body>
</html>
